.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
dataset/
resultOCRinBlock/
resultOCRinLine/

model/EmbeddingModel/*.h5
model/EmbeddingModel/*.png
model/EmbeddingModel/*.pth
__pycache__/